.container{
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: black 2px solid;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: row;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    width: 1446px;
    background-color: #d3d3d3;
    margin-left: 237px;
    margin-top: 97px;
    height: 506px;

}

.imgcontainer{
    margin: 15px 10px;
    width: 550px;
    height: 470px;
    background-color: black;
}

.imgofwine{
    width: 550px;
    height: 470px;
}

.contentContainer{
    margin-left: 108px;
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: 100px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #c84648;
}

.inputofname{
    height: 40px;
    width: 500px;
    padding: 0px 5px;
    margin-bottom: 10px;
    border: none;
    transition: all 1s linear;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.inputofname:focus{
    border-bottom: solid 1px #0c0c0c;
}

.inputofemail{
    height: 40px;
    width:500px;
    padding: 0px 5px;
    margin-bottom: 10px;
    border: none;
    transition: all 1s linear;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.inputofemail:focus{
    border-bottom: solid 1px #0c0c0c;
}

.gobtn{
    height: 40px;
    width: 80px;
    background-color: #0c0c0c;
    color: #f3f3f3;
    font-family: 'Montserrat', sans-serif;
    transition: all 250ms linear;
}

.gobtn:hover {
    box-shadow: 0px 5px 15px -5px #000000;
    cursor: pointer;
}